# Compilation & Build Artifacts
*.o
*.obj
*.exe
01_hello
02_multiply
03_sobel_basic
04_benchmark
05_shared

# IDE & Editor metadata
.vs/
.vscode/
*.sln.docstates

# CUDA Profiling Artifacts
*.nvvp
*.nvprof